# ignore pdfs
fosastoc.pdf

# ignore swapped files 
*.swp

# ignore temporary tex files
*.glg
*.glo
*.gls
*.lof
*.aux
*.log
*.toc
*.out

# ignore temporary r files
.RData
.Rhistory

# Script for building fosastoc from .Rnw files
mkfosa.sh

# ignore all R-created TeX-files
begriffe.tex
definitionen.tex
kombinatorik.tex
r-cmd.tex
test.tex
verteilungen.tex

# ignore all R-created figures and plots
Rplots.pdf
begriffe-*.pdf
definitionen-*.pdf
kombinatorik-*.pdf
r-cmd-*.pdf
test-*.pdf
verteilungen-*.pdf
